.advantages__list {
  width: 82.5%;
  margin: 0 auto;
  margin-top: 12px;
  padding-left: 17px;
}

@media (max-width: 1023px) {
  .advantages__list {
    width: 100%;
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .advantages__container.container {
    max-width: calc(100% - 28px);
  }
}
