.contacts-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  flex-grow: 1;
  max-width: 82%;
  padding-top: 7px;
  padding-left: 30px;
}

.contacts-menu__item {
  display: flex;
  padding-top: 13px;

  font-size: 16px;
  line-height: 18px;
  color: $basic-white-text;
  text-decoration: none;
  outline: none;
}

.contacts-menu__item--call {
  margin-left: 7.6%;
}

.contacts-menu__item:hover .contacts-menu__text,
.contacts-menu__item:focus .contacts-menu__text {
  border-bottom: 1px solid #ffffff;
}

.contacts-menu__item:active .contacts-menu__text {
  opacity: 0.6;;
}

.contacts-menu__item:hover .contacts-menu__icon path,
.contacts-menu__item:focus .contacts-menu__icon path {
  fill: #ffffff;
}

.contacts-menu__item:active .contacts-menu__icon path {
  opacity: 0.6;;
}

.contacts-menu__text {
  margin: 0;
}

.contacts-menu__icon {
  display: block;
  margin-right: 20px;
}

.contacts-menu__icon--email {
  padding-top: 2px;
}

.contacts-menu__icon--call {
  margin-right: 16px;
}

.contacts-menu__button {
  display: inline-block;
  margin-left: 4.3%;
  margin-right: 8px;
  width: 180px;
  padding-top: 15px;
  padding-bottom: 12px;
  text-decoration: none;
    &:hover,
    &:focus {
      background-color: #ffffff;
      color: #1b2d37;
    }
    &:active {
      background-color: #ffffff;
      color: #1b2d37;
      opacity: 0.6;
    }
}
