.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  @include list-reset;
}

.features__item {
  width: 48.7%;
  min-height: 299px;
  border: 1px solid #ebebeb;
  border-left: 3px solid $basic-blue-color;
  margin-bottom: 29px;
  padding-top: 39px;
  padding-bottom: 50px;
  padding-left: 3.5%;
  padding-right: 3.5%;
  background-color: #ffffff;
  outline: none;
  cursor: pointer;
    &:hover,
    &:focus {
      background-color: $basic-blue-color;
      color: $basic-white-text;
    }
}

.features__item:first-child,
.features__item:nth-child(3n) {
  margin-right: 2.6%;
}

.features__icon {
  margin-bottom: 14px;
}

.features__item:hover .features__icon path,
.features__item:focus .features__icon path {
  fill: #ffffff;
}

.features__item--privacy {
  padding-top: 43px;
}

.features__title {
  margin: 0;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-style: normal;
  font-weight: 400;
  color: $basic-blue-text;
}

.features__description {
  font-size: 16px;
  line-height: 22px;
  color: $basic-grey-text;
}

.features__item:hover .features__title,
.features__item:focus .features__title,
.features__item:hover .features__description,
.features__item:focus .features__description {
  color: $basic-white-text;
}
