.features {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.features__item {
  width: 48.7%;
  min-height: 299px;
  border: 1px solid #ebebeb;
  border-left: 3px solid $basic-blue-color;
  margin-bottom: 29px;
  padding-top: 39px;
  padding-bottom: 50px;
  padding-left: 3.5%;
  padding-right: 3.5%;
  background-color: #ffffff;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $basic-blue-color;
    color: $basic-white-text;
    transition: color 0.5s ease, background-color 0.5s ease;
  }
}

.features__item:first-child,
.features__item:nth-child(3n) {
  margin-right: 2.6%;
}

.features__icon {
  margin-bottom: 14px;
}

.features__item:hover .features__icon path,
.features__item:focus .features__icon path {
  fill: #ffffff;
}

.features__item--privacy {
  padding-top: 43px;
}

.features__title {
  margin: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-style: normal;
  font-weight: 400;
  color: $basic-blue-text;
}

.features__description {
  font-size: 16px;
  line-height: 22px;
  color: $basic-grey-text;
}

.features__item:hover .features__title,
.features__item:focus .features__title,
.features__item:hover .features__description,
.features__item:focus .features__description {
  color: $basic-white-text;
}

@media (max-width: 1023px) {
  .features__item {
    width: 47.9%;
    padding-top: 23px;
    padding-bottom: 3px;
    padding-right: 2.7%;
    border-left: 2px solid $basic-blue-color;
  }

  .features__item--timing,
  .features__item--vendor {
    min-height: 306px;
  }

  .features__item--privacy,
  .features__item--price {
    min-height: 232px;
    padding-top: 25px;
  }

  .features__item:first-child,
  .features__item:nth-child(3n) {
    margin-right: 4.2%;
  }

  .features__icon {
    margin-bottom: 1px;
    width: 32px;
    height: 32px;
  }

  .features__icon--timing {
    width: 29.4px;
    height: 35.5px;
  }

  .features__icon--vendor {
    margin-bottom: 4px;
  }

  .features__icon--privacy {
    margin-bottom: 3px;
    width: 30px;
    height: 30px;
  }

  .features__icon--price {
    margin-bottom: 4px;
  }

  .features__description {
    margin-top: 10px;
  }

  .features__item--privacy .features__description {
    margin-top: 15px;
  }

  .features__item--price .features__description {
    margin-top: 7px;
  }
}
