.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  @include list-reset;
}

.features__item {
  width: 48.7%;
  // max-width: 570px;
  min-height: 299px;
  border: 1px solid #ebebeb;
  border-left: 3px solid $basic-blue-color;
  // margin-right: 2.7%;
  margin-bottom: 30px;
  padding-top: 90px;
  padding-bottom: 50px;
  padding-left: 2%;
  background-color: #ffffff;
}

.features__item:first-child,
.features__item:nth-child(3n) {
  margin-right: 2.6%;
}

.features__title {
  margin: 0;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-style: normal;
  font-weight: 400;
  color: $basic-blue-text;
}

.features__description {
  font-size: 16px;
  line-height: 22px;
  color: $basic-grey-text;
}
