.feedback {
  background: url("../../img/triangle-dotted.svg") right 84.8% top 94px no-repeat, url("../../img/triangle-mid-right.svg") left 101.1% top 287px no-repeat, url("../../img/triangle-small-left.svg") left 100.3% top 42px no-repeat, $basic-blue-color;
}

.feedback__container {
  display: flex;
  padding-top: 90px;
}

.feedback__title {
  @include basic-title;
  margin: 0;
  margin-bottom: 10px;
}

.feedback__image {
  width: 50%;
  background-image: url("../../img/airplane@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/airplane@2x.png");
    background-size: 511px auto;
  }
  background-repeat: no-repeat;
  background-position: right 43.5% top 71px;
}

.feedback__content {
  width: 50%;
  padding-left: 19px;
  padding-right: 8.8%;
  padding-top: 1px;
  margin-bottom: 113px;
}

.feedback__note {
  display: block;
  margin-bottom: 51px;
  padding-left: 5px;
  font-size: 16px;
  line-height: 22px;
  color: $basic-white-text;
}

.feedback__form {
  display: flex;
  flex-wrap: wrap;
  padding-left: 4px;
}

.feedback__text-field {
  width: 47.2%;
  margin-bottom: 40px;
}

.feedback__text-field--phonenumber {
  margin-left: auto;
}

.feedback__text-field input,
.feedback__form textarea {
  width: 100%;
  border: 0;
  padding: 14px 16px;
  padding-bottom: 18px;
  background-color: #19baff;
  color: $basic-white-text;
  outline: none;
}

.feedback__text-field input:hover,
.feedback__form textarea:hover {
  background-color: #38c3ff;
  transition: background-color 0.5s ease;
}

.feedback__text-field input:focus,
.feedback__form textarea:focus {
  background-color: #f5f5f5;
  color: $basic-grey-text;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.feedback__form textarea {
  width: 100%;
  min-height: 154px;
  padding-top: 11px;
  margin-bottom: 43px;
  resize: none;
}

.feedback__text-field input::-webkit-input-placeholder,
.feedback__form textarea::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $basic-white-text;
  font-family: "PT Mono", "Courier", monospace;
  text-transform: none;
}

.feedback__form button {
  display: inline-block;
  align-self: flex-start;
  width: 47.5%;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 0 10px;
  padding-top: 14px;
  padding-bottom: 13px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $basic-white-text;
  text-align: center;
  background-color: $basic-blue-color;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #ffffff;
    color: $basic-blue-text;
    transition: color 0.5s ease, background-color 0.5s ease;
  }

  &:active {
    background-color: #ffffff;
    color: $basic-blue-text;
    opacity: 0.6;
    transition: background-color 0.5s ease, color 0.5s ease, opacity 0.5s ease;
  }
}

.feedback__consent {
  position: relative;
  width: 40.4%;
  margin-left: auto;
  margin-top: 8px;

  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.8);
}

.feedback__consent label {
  cursor: pointer;
}

.feedback__consent input[type="checkbox"] {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feedback__consent label::after {
  position: absolute;
  content: "";
  top: 1px;
  left: -31px;
  width: 16px;
  height: 16px;
  border: 1px solid #ffffff;
}

.feedback__consent input[type="checkbox"]:checked + label::after {
  background-image: url("../../img/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.feedback__consent input[type="checkbox"]:focus + label,
.feedback__consent input[type="checkbox"]:hover + label,
.feedback__consent label:hover,
.feedback__consent label:focus {
  color: rgba(255, 255, 255, 1);
}

.feedback__consent input[type="checkbox"]:active + label,
.feedback__consent label:active {
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 1023px) {
  .feedback {
    background: $basic-blue-color;
  }

  .feedback__container {
    padding-top: 79px;
  }

  .feedback__image {
    display: none;
  }

  .feedback__content {
    width: 100%;
    padding-left: 63px;
    margin-bottom: 103px;
  }

  .feedback__title {
    @include basic-title-tablet;
    margin-bottom: 16px;
  }

  .feedback__note {
    margin-bottom: 54px;
  }

  .feedback__text-field {
    width: 47.3%;
    margin-bottom: 42px;
  }

  .feedback__text-field input,
  .feedback__form textarea {
    padding-bottom: 19px;
  }

  .feedback__form textarea {
    min-height: 160px;
    margin-bottom: 44px;
  }

  .feedback__form button {
    padding-top: 15px;
    padding-bottom: 14px;
  }
}

@media (max-width: 767px) {
  .feedback__title {
    @include basic-title-mobile;
    margin-bottom: 13px;
  }

  .feedback__container {
    padding-top: 29px;
  }

  .feedback__content {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 42px;
  }

  .feedback__note {
    padding-left: 0;
    margin-bottom: 26px;
  }

  .feedback__form {
    padding-left: 0;
  }

  .feedback__text-field {
    width: 100%;
    margin-bottom: 31px;
  }

  .feedback__text-field input,
  .feedback__form textarea {
    padding-left: 17px;
  }

  .feedback__form textarea {
    min-height: 104px;
    margin-bottom: 30px;
  }

  .feedback__form button {
    width: 100%;
  }

  .feedback__consent {
    position: relative;
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }

  .feedback__consent label {
    display: block;
    padding-left: 34px;
  }

  .feedback__consent label::after {
    top: 1px;
    left: 0;
    width: 17px;
  }
}
