.logo {
  display: flex;
  flex-wrap: nowrap;
  width: 210px;
}

.logo__description {
  display: block;
  margin: 0;
  margin-left: 16px;
  padding-top: 10px;
}

.logo__description-item {
  display: block;
  margin-bottom: 10px;
  font-size: 0;
  line-height: 0;
}

.logo--footer {
  width: 250px;
}

.logo__description--footer {
  padding: 0;
  margin: 0;
  margin-left: 16px;
  margin-top: 10px;
}
