.main-title {
  margin: 0;
  margin-left: 18px;
}

.main-title__item {
  display: inline-block;
  vertical-align: top;
}

.main-title__item--basic {
  margin-bottom: 27px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $basic-white-text;
}

.main-title__item--sup {
  position: relative;
  padding-left: 97px;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: $basic-white-text;

  &::before {
    position: absolute;
    content: "";
    left: 3px;
    top: 17px;

    width: 66px;
    height: 2px;
    background-color: #ffffff;
  }
}

@media (max-width: 1023px) {
  .main-title {
    margin-left: 63px;
  }

  .main-title__item--basic {
    margin-bottom: 29px;
    font-size: 60px;
    line-height: 70px;
  }

  .main-title__item--sup {
    padding-left: 51px;
    font-size: 18px;
    line-height: 28px;

    &::before {
      top: 16px;
      width: 33px;
    }
  }
}

@media (max-width: 767px) {
  .main-title {
    margin-left: 0;
  }

  .main-title__item--basic {
    margin-bottom: 27px;
    font-size: 40px;
    line-height: 47px;
  }

  .main-title__item--sup {
    // padding-left: 51px;
    font-size: 16px;
    line-height: 25px;

    &::before {
      top: 15px;
      width: 33px;
    }
  }
}
