.navigation__list {
  display: flex;
  flex-wrap: wrap;
}

.navigation__title {
  margin: 0;
  padding-left: 0.5%;
  margin-bottom: 25px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1b2d37;
}

.navigation__toggle {
  display: none;
}

@media (max-width: 767px) {
  .navigation {
    position: relative;
  }

  .navigation__list {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .navigation__list--unvisible {
    display: none;
  }

  .navigation__title {
    padding-left: 0;
  }

  .navigation__toggle {
    display: block;
    top: 0;
    right: 2px;
  }
}
