.navigation__list {
  display: flex;
  flex-wrap: wrap;
}

.navigation__title {
  margin: 0;
  padding-left: 0.5%;
  margin-bottom: 25px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1b2d37;
}

.navigation__toggle {
  display: none;
}

@media (max-width: 767px) {
  .navigation {
    position: relative;
  }

  .navigation__list {
    display: none;
  }

  .navigation__title {
    padding-left: 0;
  }

  .navigation__toggle {
    position: absolute;
    top: 7px;
    right: 2px;
    display: block;
    border: 0;
    width: 16px;
    height: 1px;
    background-color: #c4c4c4;
    cursor: pointer;
    outline: none;

    &:hover,
    &:focus {
      background-color: #1b2d37;
    }

    &:active {
      opacity: 0.6;
    }
  }

  .navigation__toggle::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 16px;
    height: 1px;
    background-color: #c4c4c4;
    transform: rotate(90deg);
  }

  .navigation__toggle:hover::after,
  .navigation__toggle:focus::after {
    background-color: #1b2d37;
  }
}
