.offers {
  @include list-reset;
  display: flex;
  flex-wrap: nowrap;
}

.offers__title {
  @include basic-title;
  position: absolute;
  top: 50px;
  left: 12%;
  z-index: 500;
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  word-break: break-all;
}

.offers__item {
  position: relative;
  display: block;
  width: calc(33.3% - 30px);
  max-width: 370px;
  height: 620px;
  outline: none;
}

.offers__item:not(:last-child) {
  margin-right: 30px;
}

.offers__item .offers__link {
  background-repeat: no-repeat;
}

.offers__item--production .offers__link {
  background-color: #24333b;
  background-image: url("../../img/production@1x.jpg");
}

.offers__item--montage .offers__link {
  background-color: #25333b;
  background-image: url("../../img/montage@1x.jpg");
}

.offers__item--illumination .offers__link {
  background-color: #37464e;
  background-image: url("../../img/illumination@1x.jpg");
}

.offers__link {
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0.2;

  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.3;
    transition: opacity 0.5s ease;
  }

  &:active {
    opacity: 0.1;
    transition: opacity 0.5s ease;
  }
}

.offers__sup-link {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  z-index: 100;

  width: 63px;
  height: 63px;

  background: url("../../img/arrow.svg") center no-repeat, $basic-blue-color;
  cursor: pointer;
  outline: none;
}

@media (max-width: 1023px) {
  .offers {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 720px;
    max-width: 100%;
  }

  .offers__item {
    max-width: 100%;
    width: 720px;
    height: 256px;
    margin-bottom: 45px;
  }

  .offers__item:not(:last-child) {
    margin-right: 0;
  }

  .offers__item--production {
    width: 715px;
  }

  .offers__title {
    top: 40px;
    left: 6.3%;
  }

  .offers__item--illumination .offers__title {
    top: 52px;
  }

  .offers__item--production .offers__link {
    background-image: url("../../img/production-tablet@1x.jpg");
  }

  .offers__item--montage .offers__link {
    background-image: url("../../img/montage-tablet@1x.jpg");
  }

  .offers__item--illumination .offers__link {
    background-image: url("../../img/illumination-tablet@1x.jpg");
  }
}

@media (max-width: 767px) {
  .offers__item {
    margin-bottom: 30px;
  }
}

@media (max-width: 320px) {
  .offers__title {
    top: 20px;
    left: 12%;
  }

  .offers__item--illumination .offers__title {
    top: 30px;
  }

  .offers__item--production .offers__link {
    background-image: url("../../img/production-mobile@1x.jpg");
  }

  .offers__item--montage .offers__link {
    background-image: url("../../img/montage-mobile@1x.jpg");
  }

  .offers__item--illumination .offers__link {
    background-image: url("../../img/illumination-mobile@1x.jpg");
  }
}
