.office-contacts__title {
  margin: 0;
  padding-left: 0.5%;
  margin-bottom: 25px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1b2d37;
}

.office-contacts__toggle {
  display: none;
}

.office-contacts__text {
  margin: 0;
}

.office-contacts__link {
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  color: #1b2d37;
  opacity: 0.5;
  text-decoration: none;
  outline: none;

  &:hover,
  &:focus {
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  &:active {
    opacity: 0.4;
    transition: opacity 0.5s ease;
  }
}

@media (max-width: 767px) {
  .office-contacts {
    position: relative;
  }

  .office-contacts__title {
    padding-left: 0;
    margin-bottom: 32px;
  }

  .office-contacts__toggle {
    display: block;
    top: 0;
    right: 2px;
  }

  .office-contacts__text {
    padding-right: 15%;
  }

  .office-contacts__text--unvisible {
    display: none;
  }
}
