.page-header {
  padding-top: 30px;
  background: url("../../img/boards@1x.png") 86.6% 71% no-repeat,
    url("../../img/triangle-mid-dotted.svg") 66.7% 79.7% no-repeat,
    url("../../img/triangle-large-dotted.svg") 82% 69.2% no-repeat,
    url("../../img/promo-bg@1x.png") 0 0 no-repeat,
    #1b2d37;
  background-size: 37%, 17.2%, 29.4%, auto;
}

.page-header__container {
  padding-bottom: 225px;
}

.page-header__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 222px;
}

.page-header__logo-link {
  margin-left: 21px;
  margin-top: 3px;
  outline: none;
}

.page-header__logo-link:hover .logo__lighting {
  fill: #ffffff;
  transition: fill 0.5s ease;
}

.page-header__logo-link:active .logo__image {
  opacity: 0.6;
  transition: opacity 0.5s ease;
}

.page-header__promo {
  max-width: 800px;
}
