.page-footer {
  position: relative;
  background-color: #fafafa;

  &::before {
    position: absolute;
    content: "";
    bottom: 52px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #626962;
    opacity: 0.2;
  }
}

.page-footer__container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 65px;
  padding-bottom: 14px;
}

.page-footer__start {
  width: 25%;
  min-width: 240px;
  padding-left: 20px;
}

.page-footer__logo-link {
  margin-bottom: 46px;
  outline: none;
}

.page-footer__logo-link:hover .logo__lighting {
  fill: #1b2d37;
  transition: fill 0.5s ease;
}

.page-footer__logo-link:active .logo__image {
  opacity: 0.6;
  transition: opacity 0.5s ease;
}

.page-footer__navigation {
  width: 40%;
  padding-left: 5.7%;
}

.page-footer__contacts {
  padding-right: 0.5%;
  width: 341px;
  margin-left: auto;
}

.page-footer__copyright--top {
  display: none;
}

.page-footer__end {
  width: 100%;
  margin-top: 50px;
  padding-top: 23px;
}
