.products {
  background-color: #1b2d37;
}

.products__container {
  padding-top: 88px;
  padding-bottom: 127px;
  padding-right: calc(6% - 30px);
  padding-left: calc(6% + 30px);
}

.products__list {
  width: 100%;
}

.products__title {
  @include basic-title;
  margin: 0;
  margin-bottom: 52px;
}

@media (max-width: 1023px) {
  .products__container {
    padding-top: 50px;
    padding-bottom: 35px;
    padding-right: 0;
    padding-left: 0;
  }

  .products__title {
    @include basic-title-tablet;
    width: 720px;
    padding-right: 100px;
    margin: 0 auto;
    margin-bottom: 49px;
  }
}
