.products {
  background-color: #1b2d37;
}

.products__container {
  padding-top: 88px;
  padding-bottom: 127px;
  padding-right: calc(6% - 30px);
  padding-left: calc(6% + 30px);
}

.products__list {
  width: 100%;
}

.products__title {
  margin: 0;
  margin-bottom: 52px;
  @include basic-title;
}
