html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  max-width: 1920px;

  font-family: "PT Mono", "Courier", monospace;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $basic-grey-text;
  font-style: normal;

  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 5px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $basic-white-text;
  text-align: center;
  text-decoration: none;
  transition: color 0.5s ease, background-color 0.5s ease;
}

@mixin basic-title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
}

@mixin basic-title-tablet {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 45px;
  color: #ffffff;
}

@mixin basic-title-mobile {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 39px;
  color: #ffffff;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
