$basic-grey-text: #666666;
$basic-black-text: #000000;
$basic-white-text: #ffffff;
$basic-blue-text: #00b2ff;
$basic-blue-color: #00b2ff;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
